# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# Secrets
.env

# Data
data/
*.csv
*.xlsx
*.parquet

# Models
*.pkl
*.joblib
*.h5
*.keras

# OS files
.DS_Store
Thumbs.db
